body {
    items-align: center;
    background: gray;
    margin-top: 50px;

}

.b {
    width: 60px;
    height: 60px;
    background: #222222;

}
.w {
    width: 60px;
    height: 60px;
    background: whitesmoke;

}

.row {
    display: flex;
    justify-content: center;
}

.bordl {
    border-left: 4px solid #b07c21;
}

.bordr {
    border-right: 4px solid #b07c21;
}

.bordt {
    border-top: 4px solid #b07c21;
}

.bordb {
    border-bottom: 4px solid #b07c21;
}

